<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="SD.Nuget.Feed" value="https://pkgs.dev.azure.com/SpectrumDynamics/_packaging/SD.Nuget.Feed/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget v2" value="https://www.nuget.org/api/v2" />
  </packageSources>
</configuration>